<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baosight.dao.FoodMapper" >
  <resultMap id="BaseResultMap" type="com.baosight.pojo.Food" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creatTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, price, picture, stock, creatTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baosight.pojo.Food" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into food (name, price, picture, 
      stock, creatTime, updateTime
      )
    values (#{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{picture,jdbcType=VARCHAR}, 
      #{stock,jdbcType=INTEGER}, now(), #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baosight.pojo.Food" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="creatTime == null" >
       creatTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="creatTime == null" >
        now(),
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATETIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baosight.pojo.Food" >
    update food
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        creatTime = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime == null" >
        updateTime now(),
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baosight.pojo.Food" >
    update food
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      picture = #{picture,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      creatTime = #{creatTime,jdbcType=TIMESTAMP},
      updateTime = now()
    where name = #{name,jdbcType=VARCHAR}
  </update>

  <select id="findFoodByName" resultMap="BaseResultMap">
        SELECT
    <include refid="Base_Column_List" />
        from food
        where name=#{name}
    </select>

  <select id="ListFood" resultMap="BaseResultMap">
        SELECT
    <include refid="Base_Column_List" />
        from food
    </select>

  <select id="checkFoodName" resultType="string">
        SELECT name
        FROM food
        WHERE name =#{name,jdbcType=VARCHAR}
    </select>

  <select id="checkFoodStatus" resultType="java.lang.Integer">
    select stock
    from food
    where id=#{id}
  </select>
  
  <insert id="insertFoodName" parameterType="com.baosight.pojo.Food">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into food(name) values (#{name,jdbcType=VARCHAR})
  </insert>
</mapper>