<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baoxin.dao.OrderTzVOMapper" >
    <resultMap id="BaseResultMap" type="com.baoxin.VO.OrderTzVO" >
        <result property="name" column="name"/>
        <result property="orderTotal" column="total"/>
        <result property="shoppCartNum" column="num"/>
        <result property="foodId" column="foodId"/>
        <result property="time" column="creatTime"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="OrderTongZhi" resultMap="BaseResultMap">
        select f.name,s.num,o.total,o.foodId,o.creatTime
        from food f,orderline o,shoppingcart s
        where f.id = o.foodId and s.foodId = f.id
    </select>

    <delete id="OrderTZDelete" parameterType="string">
        delete from orderline where foodId=(select id from food where name=#{name})
    </delete>

    <insert id="insertFoodName" parameterType="com.baoxin.pojo.Food">
        <!--<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >-->
        <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        insert into food(name) values (#{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertShoppCarNum" parameterType="com.baoxin.pojo.ShoppingCar">
        <!--<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >-->
            <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        insert into shoppingcart(foodId,num,creatTime,status) values(#{foodId},#{shoppCartNum},now(),#{status})
    </insert>

    <insert id="insertOrderTotal" parameterType="com.baoxin.pojo.OrderLine">
        <!--<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >-->
            <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        insert into orderline(foodId,total,creatTime) values (#{foodId},#{orderTotal},now())
    </insert>
</mapper>