<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baoxin.dao.ShoppingCarMapper" >
  <resultMap id="BaseResultMap" type="com.baoxin.pojo.ShoppingCar" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="foodId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creatTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>

  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, foodId, status, num, creatTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shoppingcart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shoppingcart
    where num = 0
  </delete>
  <insert id="insert" parameterType="com.baoxin.pojo.ShoppingCar" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shoppingcart (userId, foodId, status, 
      num, creatTime, updateTime
      )
    values (#{userId,jdbcType=INTEGER}, #{foodId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, now(), #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertFood" parameterType="com.baoxin.pojo.ShoppingCar">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shoppingcart(foodId,num,creatTime,status) values(#{foodId,jdbcType=INTEGER},#{num,jdbcType=INTEGER},now(),#{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.baoxin.pojo.ShoppingCar" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shoppingcart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        userId,
      </if>
      <if test="foodId != null" >
        foodId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="creatTime == null" >
        creatTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="foodId != null" >
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="creatTime == null" >
        now(),
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baoxin.pojo.ShoppingCar" >
    update shoppingcart
    <set >
      <if test="foodId != null" >
        foodId = #{foodId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        creatTime = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime == null" >
        updateTime = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baoxin.pojo.ShoppingCar" >
    update shoppingcart
    set userId = #{userId,jdbcType=INTEGER},
      foodId = #{foodId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      creatTime = #{creatTime,jdbcType=TIMESTAMP},
      updateTime = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertShoppCarNum" parameterType="com.baoxin.pojo.ShoppingCar">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shoppingcart(num) values(#{num,jdbcType=INTEGER})
  </insert>

  <delete id="deleteAll" parameterType="java.lang.Integer" >
      delete from shoppingcart where status = (1)
  </delete>

  <update id="updateShopCarStatus" parameterType="com.baoxin.pojo.ShoppingCar">
    update shoppingcart
    set status = (1)
  </update>
</mapper>